<div class="sessions-card p-4">
  <div class="sessions-card-header mb-4">
    <h2>Edit "<%= @session.name %>"</h2>
  </div>

  <%= render partial: 'session-form' %>
  <%#= render partial: './trainees/trainee-form' %>
</div> <!-- end of sessions-card -->
