$white: #FFFFFF;
$black: #0A0A0D;

// $gray: #F0F2F2;
$green: #7CA668;
// $orange: #FFC582;
// $brown: #B46F78;
// $tan: #F5DFD0;

// $orange: #FF9900;
// $red: #FF3333;
// $gray: #E0E0E0;
// $yellow: #FFCC00;

$dark-gray: #CCCCCC;
$light-gray: #F7F8FA;
$teal: #00A4A6;
$blue: #1F3A93;
$yellow: #FF7700;
$red: #A30000;
$tan: #F6D8AE;
