// INDEX
.meetings-list-headers {
  position: sticky;
  z-index: 2;
  top: 82px;
  background-color: $light-gray;
  color: $teal;
}

.meetings-item {
  height: 60px;
  background-color: $white;
  padding: 8px 24px;
  p {
    color: $dark-gray;
  }
  a {
    text-decoration: none;
    color: $teal;
    &:hover {
      color: #007e80;
    }
  }
  &:hover {
    padding: 7px 23px;
    border: 1px solid $teal;
  }
  .meetings-edit, .meetings-delete {
    color: $teal;
  }
  .meetings-edit:hover {
    color: $yellow;
  }
  .meetings-delete:hover {
    color: $red;
  }
}

// SHOW
.meetings-card {
  background-color: $white;
  margin-top: 40px;
}

.meetings-card-header {
  h2 {
    color: $teal;
  }
}

.meetings-start-date, .meetings-end-date {
  border: 1px solid $dark-gray;
  color: $dark-gray;
}

.meetings-arrow-date {
  font-size: 32px;
  color: $dark-gray;
}

// EDIT
.show-add-trainee, .show-remove-trainee {
  width: 24px;
  height: 24px;
  padding: 5px;
  border-radius: 50%;
  outline: none;
  i {
    line-height: 0;
  }
  &:hover {
    border: none;
    color: $white;
  }
  &:focus {
    outline: none;
  }
}

.show-add-trainee {
  color: $teal;
  border: 2px solid $teal;
  &:hover {
    background-color: $teal;
  }
  transition: all 200ms ease;
}

.hide-add-trainee {
  transform: rotate(45deg);
}

.show-remove-trainee {
  visibility: hidden;
  text-decoration: none;
  color: $red;
  border: 2px solid $red;
  &:hover {
    background-color: $red;
    text-decoration: none;
  }
}

.trainee-item-edit {
  &:hover {
    background-color: $light-gray;
    .show-remove-trainee {
      visibility: visible;
    }
  }
}

.button-wrapper {
  .button-tip {
    visibility: hidden;
    font-size: 12px;
    color: $dark-gray;
  }
  &:hover {
    .button-tip{
      visibility: visible;
    }
  }
}



